#btn-get-curs-valutar {
  margin-top: 20px;
}

#btn-get-templete-record {
  margin-top: 1px;
  margin-right: 12px;
  cursor: pointer;
}

#template-list-for-select {
  border: none !important;
}
#template-list-for-select td {
  font-size: 11px;
  padding: 2px;
  border: none !important;
}

#select-templete-info-filter {
  font-size: 11px;
  padding: 2px;
}

.selected-record {
  margin-top: 2px !important;
}
